<div class="layout3">
  <h3>Viva o Luxo Responsável no Residencial Verde Sereno</h3>
  <span>Onde a Natureza e o Luxo Se Encontram.</span>
  <div
    class="items-center mt-8 grid gap-4 grid-cols-1 md:grid-cols-1 lg:grid-cols-5 xl:grid-cols-5 w-80%"
  >
    <div class="imgText">
      <img
        src="../../assets/images/MDR_RESTAURANTE_LD.jpg"
        alt="imagem restaurante do condomínio"
      />
      <p>Bar e restaurante</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_SALAO CHA_LD.jpg"
        alt="imagem salão de chá"
      />
      <p>Casa de chá</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_SALA IOGA_LD.jpg"
        alt="imagem sala de Ioga e meditação"
      />
      <p>Sala de ioga e meditação</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_SPA OFUROS_LD.jpg"
        alt="imagem spa e massagem"
      />
      <p>Spa e massagem</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_FITNESS CENTER_LD1.jpg"
        alt="imagem área fitness"
      />
      <p>Fitness Center</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_ATELIER MULTIUSO-LD.jpg"
        alt="imagem ateliê"
      />
      <p>Ateliê</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_SALA DE JOGOS_LD.jpg"
        alt="imagem sala de jogos"
      />
      <p>Sala de jogos</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_BRINQUEDOTECA_LD.jpg"
        alt="imagem brinquedoteca"
      />
      <p>Brinquedoteca</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_PISCINA BAR_LD.jpg"
        alt="imagem piscina"
      />
      <p>Piscina</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_COWORKING_LD.jpg"
        alt="imagem do COWORKING"
      />
      <p>Coworking</p>
    </div>
  </div>
  <div class="divBnt">
    <button class="btn">
      Quero mais informações
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1.5em"
        height="1.5em"
        viewBox="0 0 256 256"
      >
        <path
          fill="currentColor"
          d="m221.66 133.66l-72 72a8 8 0 0 1-11.32-11.32L196.69 136H40a8 8 0 0 1 0-16h156.69l-58.35-58.34a8 8 0 0 1 11.32-11.32l72 72a8 8 0 0 1 0 11.32"
        />
      </svg>
    </button>
  </div>
</div>
<div class="services">
  <h3>ESTRUTURA DE RESORT COM TODOS OS SERVIÇOS</h3>
  <h3>QUE VOCÊ PRECISA</h3>
  <span
    >No Condomínio Verde Serrano voc~e conhece o verdadeiro significado do
    bem-estar. São facilidades</span
  ><span
    >para você viver com mais praticidade, conforto, segurança e qualidade de
    vida.</span
  >
  <div
    class="items-center mt-8 grid gap-4 grid-cols-1 md:grid-cols-1 lg:grid-cols-8 xl:grid-cols-8"
  >
    <div class="options">
      <img
        src="../../assets/images/Grupo 1864.jpg"
        alt="imagem ilustrativa do serviço de SPA"
      />
      <p>SPA e Fitness Center</p>
    </div>
    <div class="options">
      <img
        src="../../assets/images/Grupo 1824.jpg"
        alt="imagem ilustrativa do serviço de buffet"
      />
      <p>Gestão de serviços de alimentos e bebidas</p>
    </div>
    <div class="options">
      <img
        src="../../assets/images/Grupo 1826.jpg"
        alt="imagem ilustrativa do serviço de lavanderia"
      />
      <p>
        Serviços adicionais payper-use:manutenção, limpeza e arrumação
        adicionais, lavanderia, guarda de bens e objetos
      </p>
    </div>
    <div class="options">
      <img
        src="../../assets/images/Caminho 2059.jpg"
        alt="imagem ilustrativa do serviço de room"
      />
      <p>Room service</p>
    </div>
    <div class="options">
      <img
        src="../../assets/images/Grupo 1831.jpg"
        alt="imagem ilustrativa do serviço de segurança"
      />
      <p>Serviços de segurança patrimonial</p>
    </div>
    <div class="options">
      <img
        src="../../assets/images/Grupo 1833.jpg"
        alt="imagem ilustrativa do serviço de limpeza do quarto"
      />
      <p>Limpeza e arrumação dos apartamentos até 2x por semana</p>
    </div>
    <div class="options">
      <img
        src="../../assets/images/Grupo 1870.jpg"
        alt="imagem ilustrativa do serviço de lavagem do enxoval"
      />
      <p>Lavagem de enxoval, de cama e banho 1x por semana</p>
    </div>
    <div class="options">
      <img
        src="../../assets/images/Grupo 1875.jpg"
        alt="imagem ilustrativa do serviço de locação"
      />
      <p>Disponibilização de serviços de locação</p>
    </div>
  </div>
</div>

<div
  class="ecologic items-start grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2"
>
  <img
    src="../../assets/images/380e530098fe700f7a79ff822985940d.jpg"
    alt="imagem paisagem"
  />
  <div class="text">
    <h3>
      AQUI A SUSTENTABILIDADE COM A <br />NATUREZA E COM O PRÓXIMO É<br />
      UM COMPROMISSO
    </h3>
    <span
      >O Verde Serrano traz uma arquitetura incorporada na paisagem, <br />num
      projeto que respeita a topografia original e preserva a<br />vegetação
      nativa, além de cuidar do meio-ambiente com iniciativas<br />sustentáveis.
    </span>
    <div
      class="optionsEco mt-16 grid gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3"
    >
      <div class="options">
        <img src="" alt="image not found" />
        <p>Rede elétrica</p>
      </div>
      <div class="options">
        <img src="" alt="image not found" />
        <p>Uso de energia solar</p>
      </div>
      <div class="options">
        <img src="" alt="image not found" />
        <p>Abastecimento de água por meio de poços artesianos</p>
      </div>
      <div class="options">
        <img src="" alt="image not found" />
        <p>Captação de água de chuvas</p>
      </div>
      <div class="options">
        <img src="" alt="image not found" />
        <p>Compostagem</p>
      </div>
      <div class="options">
        <img src="" alt="image not found" />
        <p>Horta orgânica</p>
      </div>
    </div>
  </div>
</div>
