.layout3{

   background-color: white;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    min-height: 45%;
    justify-items: center;
    align-items: center;
    color: var(--text_green_medium)


}

.layout3 h3{
  font-size: xx-large;
  padding: 2.5rem;
}

.layout3 span{
  font-size: x-large;
}
.layout3 p{
  margin-top: 6px;
  color: var(--text_green_ligth);
  font-size: smaller;
}

.imgText{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}

.divBnt{
  padding: 2em;
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.btn{
  width: 20%;
  justify-items: center;
  justify-content: center;
  display: flex;
  background-color:var( --bottom-color);
  color: white;
  padding: 20px;

}

.services{
  margin-top: 2em;
  background-color:var(--rose);
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  min-height: 45%;
  justify-items: center;
  align-items: center;
  color: var(--bottom-color);
  padding: 3em;
}

.services h3{
  font-size: xx-large;
}

.services span {
  font-size: large;
}

.options{
  text-align: center;
  display: flex;
  max-height: 4em;
  max-width: 11em;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.ecologic{
  background-color: white;
  background-position: center bottom;
  min-height: 50%;
  color: var(--text_green_medium)
}

.ecologic h3{
  font-size: xx-large;
margin-top: 1em;
margin-bottom: 1em;
}

.ecologic span{
  line-height: 2;
}

.ecologic span{
  font-size: large;
  text-align: start;
}

.text{
  margin-left: 2em;
}

.optionsEco{
  max-width: 65%;
}
