<div class="layout3">
  <h3>Viva o Luxo Responsável no Residencial Verde Sereno</h3>
  <span>Onde a Natureza e o Luxo Se Encontram.</span>
  <div
    class="items-center mt-8 grid gap-4 grid-cols-1 md:grid-cols-1 lg:grid-cols-5 xl:grid-cols-5 w-80%"
  >
    <div class="imgText">
      <img
        src="../../assets/images/MDR_RESTAURANTE_LD.jpg"
        alt="imagem restaurante do condomínio"
      />
      <p>Bar e restaurante</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_SALAO CHA_LD.jpg"
        alt="imagem salão de chá"
      />
      <p>Casa de chá</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_SALA IOGA_LD.jpg"
        alt="imagem sala de Ioga e meditação"
      />
      <p>Sala de ioga e meditação</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_SPA OFUROS_LD.jpg"
        alt="imagem spa e massagem"
      />
      <p>Spa e massagem</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_FITNESS CENTER_LD1.jpg"
        alt="imagem área fitness"
      />
      <p>Fitness Center</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_ATELIER MULTIUSO-LD.jpg"
        alt="imagem ateliê"
      />
      <p>Ateliê</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_SALA DE JOGOS_LD.jpg"
        alt="imagem sala de jogos"
      />
      <p>Sala de jogos</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_BRINQUEDOTECA_LD.jpg"
        alt="imagem brinquedoteca"
      />
      <p>Brinquedoteca</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_PISCINA BAR_LD.jpg"
        alt="imagem piscina"
      />
      <p>Piscina</p>
    </div>
    <div class="imgText">
      <img
        src="../../assets/images/MDR_COWORKING_LD.jpg"
        alt="imagem do COWORKING"
      />
      <p>Coworking</p>
    </div>
  </div>
  <div class="divBnt">
    <button class="btn">
      Quero mais informações
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1.5em"
        height="1.5em"
        viewBox="0 0 256 256"
      >
        <path
          fill="currentColor"
          d="m221.66 133.66l-72 72a8 8 0 0 1-11.32-11.32L196.69 136H40a8 8 0 0 1 0-16h156.69l-58.35-58.34a8 8 0 0 1 11.32-11.32l72 72a8 8 0 0 1 0 11.32"
        />
      </svg>
    </button>
  </div>
</div>
