header {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--green_ligth);
  color: var(--text_green_ligth)
}

header h2{
  margin-left: -126px;
  font-size: xx-large;

}

header strong{
  font-size: x-large;
  margin-left: 110px;
  margin-bottom: 20px;
}


.main{
  background-image: url("/../assets/images/MDR_FITNESS CENTER_LD.jpg");
  min-height: 85%;

  display: flex;
  color: white;
  flex-direction: column;
}

.fundo_black{
background: rgba(0,0,0,0.75);

width: 80rem;
height: 42rem
}

.text_presentation h3{
  display: flex;
  align-items: flex-end;
  justify-content: end;
  justify-items: end;
  font-size: x-large;
}

.text_presentation p{
  display: flex;
  align-items: flex-end;
  justify-content: end;
  line-height: 1.8;
  justify-items: end;
}

.forms{
  margin-top: -26rem;
}









footer{
  background-color: var(--text_green_ligth);
  position: fixed;
  min-width: 100%;
  min-height: 8%;

  color: white;
  display: flex;


}
.lorem{
  min-width: 250px;
}

footer h3{
  margin-left: -70px;
  min-width: 10rem;
}

footer strong{
  margin-top: 10px;
  font-size: 12px;
  margin-left: 20%;
}

footer p{
  margin-top: 10px;
 margin-left: 20px;
 display: flex;
}

.social{
  margin-top: 20px;
  margin-left: 60px;
  display: flex;
  flex-direction: row;
}

.social p{
  margin-left: 3px;
  margin-top: 0px;

}

.icons{
  size: 10px;
  display: flex;
  flex-direction: row;
}

.whatsapp{
  display: flex;
  align-items: center;
  margin-left: 60px;
  width: 100%   ;
  background-color:var(--font_whatsapp);
}

.whatsapp svg{
  margin-left: 8rem;
}
